.Quizz{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container{
  color: var(--violet);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.answer-button-container {
  background-color: var(yellow);
}

/* 
.btn-next{
  padding-top: 32px;
  width: 70%;
  height: fit-content;
} */

/* .question-container > button{
 padding: 16px;
 height: fit-content;
} */


