.Quizz {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container {
  color: var(--violet);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.answer-button-container {
  background-color: var(yellow);
}

.main-answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-next {
  /* padding-top: 32px; */
  height: fit-content;
}