.main-explication-container {
  background-color: white;
  border: 1px solid black;
  height: fit-content;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 2s, height 2s;
}

.main-explication-container.show {
  opacity: 1;
  height: auto;
}

.explication-image {
  width: 25%;
}



/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease;
} */
