@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

:root {
  --font-text: "Nunito-Regular", sans-serif;
  --font-bold: "Nunito-Bold", sans-serif;
  --font-semibold: "Nunito-SemiBold", sans-serif;
  --jaune: #ffeeb6;
  --orange: #FCBB65;
  --violet: #6a5ae0;
  --rose: #ffd6dd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
  font-family: var(--font-text);
}

.main-question-container {
  border: 2px solid black;
  border-radius: 30px 30px 30px 30px;
  background-color: white;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0px 0px 16px 0px;
  gap: 20px;
  min-height: 200px;
}

.context-container > .text-context {
  padding: 16px;
  background-color: var(--jaune);
  border-radius: 30px 30px 0px 0px;
  font-family: var(--font-semibold);
  font-size: 20px;
}
.context-container {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 30px 30px 0px 0px;
}
/* .nextBouton {
  font-family: var(--font-bold);
  color: var(--violet);
  font-size: 18px;
  border: 2px solid black;
  border-radius: 40px 40px 40px 40px;
  width: 100%;
  padding: 16px;
} */
