@font-face {
  font-family: "Nunito-Bold";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

:root {
  --font-text : "Nunito-Regular", sans-serif;
  --font-bold : "Nunito-Bold", sans-serif;
  --font-semibold : "Nunito-SemiBold", sans-serif;
  --jaune : #FFEEB6;
  --violet : #6A5AE0;
  --rose : #FFD6DD;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
 background-color: blueviolet;
}

.question-container {
  border: 2px solid black;
  background-color: azure;
  width: 70%;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
   padding: 16px 0px 16px 0px;
}

.question-container > h1{
  padding: 16px;
}
